.gear {

    will-change: filter;
    transition: filter 300ms;
}

@keyframes gear-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .gear {
        animation: gear-spin infinite 20s linear;
    }
}