.navbar-center a {
    padding: 8px;
}

.navbar-center a:hover {
    background: #D95977;
    border-radius: 6px;
    color: white;
    transition: .2s ease-in-out;
}

.navbar-center a.active {
    background: #D95977;
    border-radius: 6px;
    color: white;
}